.productImage{
  width: 500px;
  height: 500px;
  object-fit: contain;
}

  @media (max-width: 900px) {
    .productImage {
     width: 400px;
     height: 400px;
    }
  }

  @media (max-width: 600px) {
    .productImage {
     width: 300px;
     height: 300px;
    }
  }