.productImage {
  width: 500px;
  height: 370px;
  object-fit: contain;
}

.mobile {
  display: none;
}

@media (max-width: 900px) {
  .productImage {
    width: 400px;
    height: 360px;
  }

  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }
}

@media (max-width: 600px) {
  .productImage {
    width: 300px;
    min-height: 350px;
  }
}