body {
  overflow-x: hidden;
  background-color: #f8f8f8 !important;
  font-family: "Poppins", sans-serif !important;
}

.productImg {
  width: "100%";
  height: 250px !important;
}
.bgColor{
  background-color: rgba(34,49,80,.07);
}
/* .custom-dropdown .dropdown-item.active {
  background-color: #80dbde;
  color: #fff; 
} */
.displayVisibleOnMobile {
  display: none;
}
.section-top{
  margin-bottom: 3rem !important;
}
.new-section{
  padding: 5rem 0;
}
.display-4{
  font-size: 3.25rem !important;
  font-weight: 500 !important;
  text-transform: uppercase !important;
  
}

.themeColor {
  color: #d4400f!important;
  text-decoration-color: #d4400f!important;
}

.themeBorderColor {
  border-color: #d4400f!important;
  color: #d4400f!important;
}
.footerColor{
  background-color: rgb(18 36 71) !important;
}
.themeBorderColor:hover {
  background-color: #d4400f!important;
  color: white !important;
}

.gradientBgColor {
  /* background: linear-gradient(to right, #dff6f7, #a6e8ea, #80dbde) !important; */
  /* background: linear-gradient(115deg, #24365c, #4a6b8c) !important; */
  background: linear-gradient(115deg, #142b5c, #4b6c9b) !important;
  /* background-color: #142a5a !important; */
  opacity: 0.75 !important;
  /* filter: blur(5px) !important; */
  border: 0px !important;
}
.loginCard
{
  width: 50%;
}
.themebgColor {
  background-color: #d4400f!important;
  border: #d4400f!important;
}
.swal2-icon.swal2-info {
  color: rgb(18 36 71) !important; /* Change to your desired color */
  border-color: rgb(18 36 71) !important;
}
.bg-tone {
  background-color: #f1f5f9 !important;
}

.scale:hover {
  transition: transform 0.3s ease-in-out;
  /* Added property, duration, and timing function */
  transform: scale(1.05);
}

.mobText {
  font-size: small;
}

.displayHiddenOnMobile {
  display: flex;
}

.themeColorBg {
  background-color: #d4400f!important;
}

.list-group-item.active {
  background: #e2e2e2 !important;
  color: black !important;
  border: none !important;
}

.list-group-item {
  display: flex !important;
  align-items: center !important;
  /* justify-content: center !important; */
}

/* For Webkit Browsers (Chrome, Safari) */
/* ::-webkit-scrollbar {
  width: 8px;
  
}

::-webkit-scrollbar-thumb {
  background-color: #0d1b2a;
 
  border-radius: 3px;
  
}

::-webkit-scrollbar-track {
  background-color: #f0f0f0;
 
} */

.text-gray {
  color: #495057;
}

.nlink {
  transition: color 0.3s, border-bottom 0.3s;
  height: 26px;
  /* Add smooth transition for a better effect */
}

.nlink:hover {
  color: #0D1B2A !important;
  border-bottom: 1px solid #0D1B2A !important;
  padding-bottom: 1px;
}
.userProf {
  height: 180px !important;
   width: 180px !important;
  }
.navbar12 {
  margin: 0 !important;
  padding: 5px !important;
  border: none !important;
  border-bottom: none !important;
}

.sidenavd {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.nav-dn1 {
  display: none;
}

.plusminuscart {
  cursor: pointer;
}

.sidebar {
  width: 35%;
}

.singleProd {
  width: 300px !important;
}

.dropdownNav2 {
  display: none;
}

.nav-bottom {
  visibility: hidden;
}

.hero-section {
  /* position: relative; */
  height: 90vh;
  /* Adjust the desired height */
  overflow: hidden;
}

/* .btn-shop{
  visibility: hidden;
} */
.mobText1 {
  font-size: medium;
}

.zoom-button {
  position: absolute;
  bottom: 20px;
  /* Adjust this value to position the button properly */
  transform: translateX(-50%);
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-out;
}

/* .mobFooter {
  /* z-index: 0 !important; 
} */

@keyframes zoomIn {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}

.slide-in {
  animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
  0% {
    bottom: -80px;
  }

  100% {
    bottom: 20px;
    /* Adjust this value to position the button properly */
  }
}

.hide-button {
  visibility: hidden;
}

@media (max-width: 989px) {

  /* .nav-dn1 {
    display: block;
  } */
  .loginCard
  {
    width: 75%;
  }
  .display-4{
    font-size: 2.25rem !important;
    text-transform: uppercase !important;
    
  }
  .imgCat {
    width: 250px !important;
    height: 250px !important;
  }

  .hide-button {
    visibility: visible;
  }

  .nav-dn2 {
    display: none !important;
    /* visibility: hidden; */
  }

  /* .navv2 {
    /* display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } */

  .dropdownNav1 {
    display: none;
  }

  .dropdownNav2 {
    display: inline;
  }

  .nav-bottom {
    visibility: visible;
  }

  .hero-section {
    /* position: relative; */
    height: 60vh;
    /* Adjust the desired height */
    overflow: hidden;
  }
}
@media (max-width: 1100px) {
  .display-4{
    font-size: 2.25rem !important;
    text-transform: uppercase !important;
    
  }
  .singleProd {
    width: 280px !important;
  }
  .productImg {
    width: 100%;
    height: 250px !important;
  }
}
@media (max-width: 900px) {
  .sidebar {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .loginCard
{
  width: 80%;
}
  .d{
    display: flex;
    justify-content: center !important;
    margin: 0px 2rem;
    flex-wrap: wrap;
  }
  .singleProd {
    width: 250px !important;
  }

  .productImg {
    width: 100%;
    height: 220px !important;
  }

  .displayHiddenOnMobile {
    display: none !important;
  }

  .displayVisibleOnMobile {
    display: flex;
  }

  .mobText {
    font-size: x-small;
  }

  .mobText1 {
    font-size: small;
  }

  .cardStyle {
    width: 180px !important;
    height: 220px !important;
  }
}

@media (max-width: 600px) {
  .loginCard
  {
    width: 100%;
  }
  .display-4{
    font-size: 1.8rem !important;
    text-transform: uppercase !important;
    
  }
  .brand{
   min-width: 80%;
    display: flex !important;
    justify-content: center !important;
    text-align: center !important;
  }
  .displayHiddenOnMobile {
    display: none !important;
  }
  .singleProd {
    width: 155px !important;
  }
  .productImg {
    width: 100%;
    height: 140px !important;
  }
  .font{
    font-size: 12px !important;
  }
  .imgCat {
    height: 160px !important;
    width: 160px !important;
  }

  .sideproductview {
    display: none !important;
  }

  .userProf {
    height: 150px !important;
    width: 150px !important;
  }
}

@media (max-width: 400px) {
 
  .displayHiddenOnMobile {
    display: none !important;
  }
  .singleProd {
    width: 153px !important;
    font-size: xx-small !important;
  }
  .productImg {
    width: 100%;
    height: 147px !important;
  }
.font{
  font-size: 10px !important;
}
  .imgCat {
    height: 160px !important;
    width: 160px !important;
  }

  .sideproductview {
    display: none !important;
  }

  .userProf {
    height: 130px !important;
     width: 130px !important;
    }
}

.about-image-container {
  display: flex;
  justify-content: center;
}

.about-image {
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.about-content {
  /* padding-left: 40px; */
}

.about-content h2 {
  /* font-size: 30px; */
  font-weight: bold;
  margin-bottom: 20px;
}

.about-content p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 15px;
}

.creative-section {
  /* padding: 50px 0; */
}

.creative-section h2 {
  /* font-size: 24px; */
  margin-bottom: 40px;
}

.creative-card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.creative-card h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.creative-card p {
  font-size: 16px;
}

.carousel-inner {
  height: 100%;
}

.carousel-item {
  height: 100%;
  display: flex;
  align-items: center;
}

.carousel-item img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.phonecen {
  overflow-y: hidden;
  flex-direction: column;
  margin-top: auto;
  /* overflow-x: hidden; */
  flex: 1 1 0;
  width: 100%;
}

.carousel-caption {
  /* position: absolute; */
  /* text-align: center; */
  top: 30%;
  /* left: 50%; */

  /* transform: translate(-50%, -50%); */
  /* text-align: center; */
  color: #fff;
  /* Set the desired text color */
  z-index: 1;
}
.zindex2{
  z-index: 100 !important;
}
.zindex{
  z-index: 1 !important;
}
.leftSidebar{
  z-index: 1000 !important;
}
.rightSidebar{
  z-index: 1000 !important;
}
.opac{
  opacity: 1 !important;
}