body {
  overflow-x: hidden;
  background-color: #f8f8f8 !important;
  font-family: 'Lexend', sans-serif;
}
.productImg {
  width: "100%";
  height: 200px;
}
.displayVisibleOnMobile{
  display: none;
}
.themeColor {
  color: RGB(82, 113, 255);
}
.scale:hover {
  transition: transform 0.3s ease-in-out; /* Added property, duration, and timing function */
  transform: scale(1.05);
}
.mobText {
  font-size: small;
}
.displayHiddenOnMobile{
  display: flex;
}
.themeColorBg {
  background-color: RGB(82, 113, 255);
}
.list-group-item.active {
  background: #e2e2e2 !important;
  color: black !important;
  border: none !important;
}
.list-group-item {
  display: flex !important;
  align-items: center !important;
  /* justify-content: center !important; */
}
/* For Webkit Browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #0d1b2a; /* Set the color of the thumb */
  border-radius: 3px; /* Optional: Round the corners of the thumb */
}

::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Set the color of the track */
}

.text-gray {
  color: #495057;
}
.nlink {
  transition: color 0.3s, border-bottom 0.3s;
  height: 26px; /* Add smooth transition for a better effect */
}

.nlink:hover{
  color: #0D1B2A !important;
  border-bottom:1px solid #0D1B2A !important;
  padding-bottom: 1px; 
}
.navbar12 {
  margin: 0 !important;
  padding: 5px !important;
  border: none !important;
  border-bottom: none !important;
}

.sidenavd {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.nav-dn1 {
  display: none;
}
.plusminuscart {
  cursor: pointer;
}
.sidebar {
  width: 35%;
}
.singleProd {
  width: 250px;
}
.dropdownNav2 {
  display: none;
}
.nav-bottom {
  visibility: hidden;
}

.hero-section {
  /* position: relative; */
  height: 90vh; /* Adjust the desired height */
  overflow: hidden;
}
/* .btn-shop{
  visibility: hidden;
} */
.mobText1 {
  font-size: medium;
}
.zoom-button {
  position: absolute;
  bottom: 20px; /* Adjust this value to position the button properly */
  transform: translateX(-50%);
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-out;
}
.mobFooter {
  z-index: 0 !important;
}

@keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

.slide-in {
  animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
  0% {
    bottom: -80px;
  }
  100% {
    bottom: 20px; /* Adjust this value to position the button properly */
  }
}

.hide-button {
  visibility: hidden;
}
@media (max-width: 989px) {
  /* .nav-dn1 {
    display: block;
  } */
  .imgCat {
    width: 250px !important;
    height: 250px !important;
  }
  .hide-button {
    visibility: visible;
  }
  .nav-dn2 {
    display: none;
  }
  .navv2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .dropdownNav1 {
    display: none;
  }
  .dropdownNav2 {
    display: inline;
  }
  .nav-bottom {
    visibility: visible;
  }
  .hero-section {
    /* position: relative; */
    height: 60vh; /* Adjust the desired height */
    overflow: hidden;
  }
}
@media (max-width: 900px) {
  .sidebar {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .singleProd {
    width: 170px;
  }
  .productImg {
    width: 100%;
    height: 120px;
  }
  .displayHiddenOnMobile{
    display: none;
    
  }
  .displayVisibleOnMobile{
    display: flex;
  }
  .mobText {
    font-size: x-small;
  }
  .mobText1 {
    font-size: small;
  }
 
  .cardStyle{
    width: 180px !important;
    height: 220px !important;
  }
}
@media (max-width: 600px) {
  .imgCat {
    height: 160px !important;
    width: 160px !important;
  }
  .sideproductview {
    display: none !important;
  }
  .userprof {
    display: flex !important;
    flex-direction: column !important;
  }
}
.about-section {
  /* background-color: #f8f8f8; */
  /* padding: 80px 0; */
}

.about-image-container {
  display: flex;
  justify-content: center;
}

.about-image {
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.about-content {
  /* padding-left: 40px; */
}

.about-content h2 {
  /* font-size: 30px; */
  font-weight: bold;
  margin-bottom: 20px;
}

.about-content p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 15px;
}

.creative-section {
  padding: 50px 0;
}

.creative-section h2 {
  /* font-size: 24px; */
  margin-bottom: 40px;
}

.creative-card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.creative-card h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.creative-card p {
  font-size: 16px;
}

.carousel-inner {
  height: 100%;
}

.carousel-item {
  height: 100%;
  display: flex;
  align-items: center;
}

.carousel-item img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.phonecen {
  overflow-y: hidden;
  flex-direction: column;
  margin-top: auto;
  /* overflow-x: hidden; */
  flex: 1 1 0;
  width: 100%;
}
.carousel-caption {
  /* position: absolute; */
  /* text-align: center; */
  top: 30%;
  /* left: 50%; */

  /* transform: translate(-50%, -50%); */
  /* text-align: center; */
  color: #fff; /* Set the desired text color */
  z-index: 1;
}
